:root {
  --branding-color: #75c487;
  --secondary-color: #fbcbc9;
  --tertiary-color: #be1558;
  --main-font-family: "monospace";
  --default-font-family: "calibri";
}

body {
  font-family: monospace;
}

h1 {
  font-size: 90px;
  color: black;
  display: block;
  margin: 0;
  line-height: 1.5;
  margin-bottom: 0.5px;
}

h2 {
  font-size: 40px;
  margin: 0;
  color: black;
  line-height: 2;
  display: block;
}

h3 {
  font-size: 30px;
  line-height: 2;
  color: black;
  margin-top: 0;
}

h4 {
  font-size: 30px;
}
p {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
  margin-top: 0;
}
b {
  color: var(--tertiary-color);
}

.hero {
  padding: 60px 20px;
  background-color: #fcf8f1;
}
.hero .text {
  text-align: right;
}
.colored-container {
  padding: 60px 40px;
  background-color: #fcf8f1;
}

.highlight-green {
  background-color: var(--branding-color);
  padding: 5px;
}

.highlight-pink {
  background-color: #fbcbc9;
  padding: 5px;
}

a {
  text-decoration: none;
  color: black;
}

.btn-branding-outline {
  color: black;
  background-color: #fbcbc9;
  border: 1px solid;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  margin: 10px;
  margin-bottom: 25px;
}
.btn-branding-outline:hover {
  color: var(--branding-color);
  background-color: var(--tertiary-color);
  cursor: pointer;
}

.logo {
  max-height: 40px;
}

nav {
  padding: 20px 0;
  line-height: 42px;
  margin-left: 10px;
}

nav a {
  text-decoration: none;
  color: black;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: #75c487;
}

.girl {
  max-width: 75%;
  padding: 0;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background-color: #75c487;
  padding: 20px 120px;
  border-radius: 10px;
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}

footer .email-link:hover {
  color: #75c487;
  background-color: var(--tertiary-color);
}

footer .social-links a {
  margin: 0 20px;
  color: black;
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: #75c487;
  background-color: var(--tertiary-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 40px;
    line-height: 1.5;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 15px;
  }
  p {
    font-size: 12px;
  }

  .hero {
    padding: 50px 10px;
    text-align: center;
  }
  .hero .text {
    text-align: center;
  }
  .project-description {
    text-align: center;
    padding: 00;
  }
  .col-md-6 {
    margin-bottom: 0;
    padding: 1;
  }
  .content-container {
    text-align: center;
  }
  nav a {
    font-size: 12px;
  }
}

.content-container {
  padding: 60px 20px;
  text-align: left;
}

.content h1 {
  font-size: 50px;
  line-height: 80px;
}
.content h2 {
  font-size: 30px;
  line-height: 1.5;
}
.content h3 {
  font-size: 25px;
  line-height: 1.5;
}
.content p {
  font-size: 14px;
}

h6 {
  text-align: center;
}

.link-decoration {
  text-decoration: none;
  color: black;
  text-align: center;
  transition: all 100ms ease-in-out;
}

.link-decoration:hover {
  color: #75c487;
  background-color: var(--tertiary-color);
  text-decoration: none;
  font-weight: bold;
}

.writing-samples {
  margin: auto;
}
.writing-samples p {
  font-family: calibri;
  padding: 0px 40px;
  font-size: 18px;
}
.writing-samples a {
  padding: 0px 40px;
}
.writing-samples h3 {
  line-height: 32px;
  padding: 10px;
}
.sample-container {
  background-color: #fbcbc9;
  padding: 30px 10px;
  border: 3px solid var(--tertiary-color);
  border-radius: 4px;
}
.sample-container h2 {
  font-size: 40px;
  font-weight: bold;
}
.sample-container h6 {
  font-size: 24px;
  font-family: calibri;
}
.sample-container li {
  text-decoration: none;
  list-style: none;
  font-size: 18px;
  font-family: calibri;
}
