body {
  font-family: monospace;
}

h1 {
  font-size: 90px;
  color: black;
  display: block;
  margin: 0;
  line-height: 1.2;
  margin-bottom: 0.5px;
}
h2 {
  font-size: 30px;
  margin: 0;
  color: black;
  line-height: 1.5;
}

h3 {
  font-size: 24px;
  line-height: 2;
  color: black;
  margin-top: 0;
}
p {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}
.home {
  background-color: white;
  text-align: center;
  padding: 100px 20px;
}
.container {
  text-align: center;
}
.highlight-name {
  background-color: #75c487;
  padding: 5px;
}
.highlight-green {
  background-color: #75c487;
  padding: 5px;
}

.highlight-pink {
  background-color: #fbcbc9;
  padding: 5px;
}
a {
  text-decoration: none;
  color: black;
}
